.addRouteContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
  align-self: center;
  align-content: space-between;
  align-items: center;
}

.addRouteButton {
  border: none;
  display: inline-block;
  width: 100px;
  height: 40px;
  /* padding: 10px; */
  background: #96969969;
  text-align: center;
  font-size: 0.9em;
}

.stopForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  min-width: 400px;
}

.stopLabel {
  margin-right: 20px;
}

.buttonRow {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.cancel {
  text-decoration: none;
  color: black;
  /* padding: 20px; */
}

.cancel:visited {
  text-decoration: none;
  color: black;
}

.cancelContainer {
  display: inline-block;
  /* margin-top: 20px; */
  padding: 10px;
  width: 80px;
  height: 20px;

  background: #96969969;
  text-align: center;
}

input,
select {
  box-sizing: border-box;
  width: 200px;
}
