#cardList {
  /* overflow-y: auto; */
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  /* padding: 20px; */
  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cancelButton {
  display: inline;
  padding: 10px;
  background-color: #6dd166;
  color: black;
}

.buttonText {
  text-decoration: none;
}

.routerButton {
  padding: 10px;
  color: white;
}

.blue {
  background-color: #1f4fa3;
  width: 150px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* 3*(300px card with + 40px card margin) = 1140
  @media only screen and (max-width: 1140px) {
    ul {
      justify-content: space-evenly;
    } */
/* } */
/* 2*(300px card with + 40px card margin) = 760 */
@media only screen and (max-width: 760px) {
  ul {
    justify-content: center;
  }
}
