#navContainer {
  background-color: #6dd166;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 69px;
}

#navButtonContainer {
  display: flex;
  align-items: center;
}

.navButton {
  margin: 10px;
}

.buttonText {
  margin: 0;
  text-decoration: none;
}
